

html {
  &.poor_vision {
    body {
      &.black_body {
        background: @black;
        h1,h2,h3,h4,h5,p,span,a,li {
          color: @white !important;
        }
        .modal, form {
          background: rgb(0, 0, 0) !important;
        }
        input,
        textarea {
          .placeholder_color(@white);
          .moz_placeholder_color(@white);
          color: @white !important;
        }
        div,
        a,
        input {
          border-color: @white !important;
        }
      }
      &.blue_body {
      background: rgb(157, 209, 255) !important;
        .modal, form {
          background: rgb(157, 209, 255) !important;
        }
      }
      h1,h2,h3,h4,h5,p,span,a,li,
      input {
        color: rgb(6, 52, 98) !important;
      }
    }
  }
}