@import "varibles";
@import "mixin";
@import "base";

//html {
//  &.poor_vision {
//    body {
//      background: @;
//    }
//    div,
//    a {
//      background: none !important;
//    }
//    h1, h2, h3, h3, h5, a, p, span, li {
//      color: @black !important;
//    }
//
//    img {
//      display: none !important;
//    }
//    a {
//      border: 1px solid @black !important;
//    }
//    i {
//      display: none !important;
//    }
//  }
//}
html {
  &.poor_vision {
    .container-fluid {
      & > .row {
        & > div,a {
          width: auto !important;
        }
      }
    }
    img {
      visibility: hidden !important;
    }
    i {
      display: none !important;
    }
    div, a {
      background: none !important;
    box-shadow: none !important;
      margin-left: auto !important;
      margin-right: auto !important;
      position: relative !important;
    }
    h1,h2,h3,h4,h5,p,span,a,li, input {
      color: @black !important;
    text-shadow: none !important;
    }
    a {
      text-decoration: underline !important;
      border: none !important;
    }
    li {
      border: 1px solid @black !important;
    }
    div,a {
      border-color: @black !important;
    }
    .col-md-1,.col-md-2,.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11,
    .col-md-12 {
      width: auto !important;
      float: none !important;
    }
    form {
      padding: 30px !important;
      border: 1px solid @black !important;
      input {
        border: 1px solid @black !important;
        background: none !important;
      }
    }
    #map {
      display: none !important;
    }
  }
  .carousel {
    margin-top: 100px;
    .item {
      height: auto !important;
    }
  }
  .carousel-caption {
    top: auto !important;
    bottom: auto !important;
    left: auto !important;
    right: auto !important;

  }
  footer {
    background: transparent !important;
  }
}