/*sprite adventage*/
.sprite-adventage {
    background-image: url('../img/sprite-adventage.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite-camin {
    width: 84px;
    height: 84px;
    background-position: -5px -5px;
}

.sprite-fire {
    width: 81px;
    height: 81px;
    background-position: -99px -5px;
}

.sprite-smoke {
    width: 75px;
    height: 81px;
    background-position: -190px -5px;
}

.sprite-zippo {
    width: 70px;
    height: 87px;
    background-position: -99px -96px;
}
/* //sprite adventage*/

/*sprite social*/
.sprite-social {
    background-image: url('../img/social-sprite.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite-social_fb {
    width: 19px;
    height: 16px;
    background-position: -5px -5px;
}

.sprite-social_inst {
    width: 14px;
    height: 14px;
    background-position: -34px -5px;
}

.sprite-social_odn {
    width: 11px;
    height: 19px;
    background-position: -34px -29px;
}

.sprite-social_tw {
    width: 18px;
    height: 15px;
    background-position: -58px -5px;
}

.sprite-social_vk {
    width: 23px;
    height: 13px;
    background-position: -55px -30px;
}

/*sprite social*/