@font-face {
  font-family: futuredemic;
  src: url('../fonts/FUTURADEMIC.OTF');
}
@font-face {
  font-family: future_book;
  src: url('../fonts/FUTURABOOKC.OTF');
}
@font-face {
  font-family: muller_ultra_light;
  src: url('../fonts/Muller-UltraLight.otf');
}
@font-face {
  font-family: futura_book_italic;
  src: url('../fonts/FUTURABOOKC-ITALIC.OTF');
}
html {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: 'future_book';
  font-size: 16px;
  color: #101010;
  position: relative;
  min-height: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  height: 370px;
  width: 100%;
  border-top: 2px solid #101010;
  background: #fdf7ef;
}
@media screen and (max-width: 991px) {
  footer {
    height: 350px;
  }
}
.pre_footer {
  padding-bottom: 370px;
}
@media screen and (max-width: 991px) {
  .pre_footer {
    padding-bottom: 350px;
  }
}
.white_text {
  color: #ffffff;
}
h1,
h2,
h3 {
  font-family: 'futuredemic';
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 32px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
  font-family: 'futuredemic';
}
a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
a:hover {
  color: #f6891f;
  text-decoration: none !important;
}
.align_center {
  text-align: center;
}
.align_left {
  text-align: left;
}
.align_right {
  text-align: right;
}
a {
  color: #101010;
  font-size: 15px;
}
a:active,
a:visited,
a:focus {
  outline: none;
}
button {
  width: 210px;
  text-align: center;
  background: #f6891f;
  color: #ffffff;
  padding: 20px;
  border: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  display: block;
}
button:hover {
  background: #f8a350;
  color: #ffffff;
  text-decoration: none;
}
button:hover {
  text-decoration: none !important;
  color: #ffffff !important;
}
button:visited,
button:focus {
  color: #ffffff !important;
  text-decoration: none !important;
}
.inline {
  display: inline-block;
}
.up {
  text-transform: uppercase;
}
.container-fluid {
  padding: 0 5%;
}
.container-fluid.full_width {
  padding: 0;
}
.modal {
  padding-right: 0 !important;
}
.modal .modal-dialog {
  margin-left: auto;
  margin-right: auto;
}
.modal .modal-header {
  display: block;
  margin: 0 auto;
  border: none;
  position: relative;
}
.modal .modal-header .modal-title {
  text-align: center;
}
.modal .modal-header .close {
  width: auto;
  position: absolute;
  right: 50px;
  top: 0;
  opacity: .6;
}
.modal .modal-header .close:hover {
  background: none;
  opacity: 1;
}
.modal .modal-content {
  background: #fdf7ef;
  padding: 45px 0;
  margin: auto;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.modal form {
  padding: 0 75px;
}
.modal form input:not([type="submit"]),
.modal form textarea {
  border: 1px solid #101010;
  border-right: none;
  border-left: none;
  border-top: none;
  margin-top: 0;
  background: transparent;
  display: block;
  padding: 10px 0;
  width: 100%;
  margin-bottom: 30px;
}
.modal form input:not([type="submit"])::-webkit-input-placeholder,
.modal form textarea::-webkit-input-placeholder {
  color: #101010;
  font-size: 16px;
}
.modal form input:not([type="submit"])::-moz-placeholder,
.modal form textarea::-moz-placeholder {
  color: #101010;
  font-size: 16px;
}
.modal form input:not([type="submit"]):-moz-placeholder,
.modal form textarea:-moz-placeholder {
  color: #101010;
  font-size: 16px;
}
.modal form input:not([type="submit"])::-moz-placeholder,
.modal form textarea::-moz-placeholder {
  color: #101010;
  font-size: 16px;
}
.modal form input:not([type="submit"]):-moz-placeholder,
.modal form textarea:-moz-placeholder {
  color: #101010;
  font-size: 16px;
}
.modal form input[type="submit"] {
  padding: 13px;
  width: 100%;
  background: #f6891f;
  border: none;
  color: #ffffff;
  font-family: 'futuredemic';
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.modal form input[type="submit"]:hover {
  background: #f8a350;
  color: #ffffff;
  text-decoration: none;
}
@media screen and (max-width: 991px) {
  .modal form input[type="submit"] {
    width: 100%;
    padding: 17px;
  }
  .modal form input:not([type="submit"])::-webkit-input-placeholder,
  .modal form textarea::-webkit-input-placeholder {
    color: #101010;
    font-size: 20px;
  }
  .modal form input:not([type="submit"])::-moz-placeholder,
  .modal form textarea::-moz-placeholder {
    color: #101010;
    font-size: 20px;
  }
  .modal form input:not([type="submit"]):-moz-placeholder,
  .modal form textarea:-moz-placeholder {
    color: #101010;
    font-size: 20px;
  }
  .modal form input:not([type="submit"])::-moz-placeholder,
  .modal form textarea::-moz-placeholder {
    color: #101010;
    font-size: 20px;
  }
  .modal form input:not([type="submit"]):-moz-placeholder,
  .modal form textarea:-moz-placeholder {
    color: #101010;
    font-size: 20px;
  }
}
@media screen and (max-width: 991px) {
  .modal form {
    padding: 0 30px;
  }
}
@media screen and (max-width: 991px) {
  .modal .modal-dialog {
    width: 90%;
  }
  .modal .modal-dialog .modal-content form input:not([type="submit"])::-webkit-input-placeholder {
    color: #101010;
    font-size: 20px;
  }
  .modal .modal-dialog .modal-content form input:not([type="submit"])::-moz-placeholder {
    color: #101010;
    font-size: 20px;
  }
  .modal .modal-dialog .modal-content form input:not([type="submit"]):-moz-placeholder {
    color: #101010;
    font-size: 20px;
  }
  .modal .modal-dialog .modal-content form input:not([type="submit"])::-moz-placeholder {
    color: #101010;
    font-size: 20px;
  }
  .modal .modal-dialog .modal-content form input:not([type="submit"]):-moz-placeholder {
    color: #101010;
    font-size: 20px;
  }
}
@media screen and (max-width: 320px) {
  .modal .modal-dialog {
    width: 95%;
  }
  .modal .modal-dialog .modal-content form {
    padding: 0 10px;
    width: 100%;
  }
}
.base_form {
  display: block;
  margin: 0 auto;
}
.base_form input:not([type="submit"]),
.base_form textarea {
  border: 1px solid #101010;
  border-right: none;
  border-left: none;
  border-top: none;
  margin-top: 0;
  background: transparent;
  display: block;
  padding: 10px 0;
  width: 100%;
  margin-bottom: 30px;
}
.base_form input:not([type="submit"])::-webkit-input-placeholder,
.base_form textarea::-webkit-input-placeholder {
  color: #101010;
  font-size: 16px;
}
.base_form input:not([type="submit"])::-moz-placeholder,
.base_form textarea::-moz-placeholder {
  color: #101010;
  font-size: 16px;
}
.base_form input:not([type="submit"]):-moz-placeholder,
.base_form textarea:-moz-placeholder {
  color: #101010;
  font-size: 16px;
}
.base_form input:not([type="submit"])::-moz-placeholder,
.base_form textarea::-moz-placeholder {
  color: #101010;
  font-size: 16px;
}
.base_form input:not([type="submit"]):-moz-placeholder,
.base_form textarea:-moz-placeholder {
  color: #101010;
  font-size: 16px;
}
.base_form input[type="submit"] {
  padding: 13px;
  width: 100%;
  background: #f6891f;
  border: none;
  color: #ffffff;
  font-family: 'futuredemic';
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.base_form input[type="submit"]:hover {
  background: #f8a350;
  color: #ffffff;
  text-decoration: none;
}
@media screen and (max-width: 991px) {
  .base_form input[type="submit"] {
    width: 100%;
    padding: 17px;
  }
  .base_form input:not([type="submit"])::-webkit-input-placeholder,
  .base_form textarea::-webkit-input-placeholder {
    color: #101010;
    font-size: 20px;
  }
  .base_form input:not([type="submit"])::-moz-placeholder,
  .base_form textarea::-moz-placeholder {
    color: #101010;
    font-size: 20px;
  }
  .base_form input:not([type="submit"]):-moz-placeholder,
  .base_form textarea:-moz-placeholder {
    color: #101010;
    font-size: 20px;
  }
  .base_form input:not([type="submit"])::-moz-placeholder,
  .base_form textarea::-moz-placeholder {
    color: #101010;
    font-size: 20px;
  }
  .base_form input:not([type="submit"]):-moz-placeholder,
  .base_form textarea:-moz-placeholder {
    color: #101010;
    font-size: 20px;
  }
}
.base_form input:not([type="submit"])::-webkit-input-placeholder,
.base_form textarea::-webkit-input-placeholder {
  color: #101010;
  font-size: 18px;
}
.base_form input:not([type="submit"])::-moz-placeholder,
.base_form textarea::-moz-placeholder {
  color: #101010;
  font-size: 18px;
}
.base_form input:not([type="submit"]):-moz-placeholder,
.base_form textarea:-moz-placeholder {
  color: #101010;
  font-size: 18px;
}
.base_form input:not([type="submit"])::-moz-placeholder,
.base_form textarea::-moz-placeholder {
  color: #101010;
  font-size: 18px;
}
.base_form input:not([type="submit"]):-moz-placeholder,
.base_form textarea:-moz-placeholder {
  color: #101010;
  font-size: 18px;
}
.background_gray {
  background: #f9f9f9;
}
.img_center {
  display: block;
  margin: 0 auto;
}
.text_gray {
  color: #9a9a9a;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.list_inline {
  list-style: none;
}
.list_inline li {
  display: inline-block;
}
.section_capt_center {
  text-align: center;
}
.section_capt_center .row {
  position: relative;
}
.section_capt_center h2 {
  font-size: 40px;
}
.section_capt_center.bord_capt {
  border: 1px solid #ebebeb;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 30px 0;
  margin: 0 !important;
}
@media screen and (max-width: 991px) {
  .section_capt_center h2 {
    font-size: 40px;
  }
}
.section_capt {
  position: relative;
  margin-top: 45px;
  margin-bottom: 40px;
  text-align: left;
}
.section_capt.small_padd {
  margin-top: 0;
}
@media screen and (min-width: 991px) {
  .section_capt {
    padding-right: 160px;
  }
}
.section_capt h1 {
  font-size: 45px;
  text-align: center;
  margin-top: 0;
}
.section_capt .return {
  position: absolute;
  right: 5%;
  top: 10px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.section_capt .return i {
  font-size: 25px;
  padding-right: 15px;
  vertical-align: bottom;
}
.section_capt .return span {
  font-family: 'futuredemic';
  padding-top: 10px;
  text-transform: uppercase;
}
.section_capt .return:hover {
  color: #f6891f;
  text-decoration: none !important;
}
.section_capt .row {
  position: relative;
}
.section_capt h2 {
  margin: 0;
}
.section_capt .back_link {
  position: absolute;
  top: 40%;
}
.section_capt .back_link span {
  font-size: 22px;
  color: #f6891f;
  margin-left: 15px;
}
.section_capt .back_link img {
  margin-top: 3px;
}
@media screen and (max-width: 991px) {
  .section_capt.pd {
    padding-left: 50px;
  }
  .section_capt .back_link {
    right: auto;
    left: 25px;
    top: 1%;
  }
  .section_capt .return {
    left: 5%;
    right: auto;
  }
  .section_capt .return i {
    font-size: 45px;
    color: #f6891f;
  }
}
@media screen and (max-width: 450px) {
  .section_capt h2 {
    font-size: 19.2px;
    margin-top: 5px;
  }
}
.btn_base {
  font-family: 'futuredemic';
  font-size: 13px;
  height: 42px;
  text-transform: uppercase;
  width: 80%;
  text-align: center;
  background: #f6891f;
  color: #ffffff;
  padding: 12px;
  border: none;
  display: block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.btn_base:hover {
  background: #f8a350;
  color: #ffffff;
  text-decoration: none;
}
.btn_transparent {
  width: 200px;
  text-align: center;
  background: #f6891f;
  padding: 12px;
  border: none;
  display: block;
  height: 45px;
  background: transparent;
  font-family: 'futuredemic';
  font-size: 18px;
  border: 2px solid #ffffff;
  color: #ffffff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.btn_transparent:hover {
  background: #f8a350;
  color: #ffffff;
  text-decoration: none;
}
.btn_transparent:hover {
  color: #f6891f;
  background: #ffffff;
  text-decoration: none !important;
}
.btn_circle {
  width: 250px;
  text-align: center;
  background: #f6891f;
  color: #ffffff;
  padding: 13px;
  border: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  font-family: 'future_book';
  font-size: 18px;
  color: #e95927;
  background: transparent;
  border: 1px solid #e95927;
  display: block;
  margin: 0 auto;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.btn_circle:hover {
  background: #f8a350;
  color: #ffffff;
  text-decoration: none;
}
.btn_circle:hover {
  color: #ffffff;
  background: #e95927;
  text-decoration: none !important;
}
@media screen and (max-width: 991px) {
  .btn_circle {
    width: 60%;
    min-width: 200px;
  }
}
.btn_circle.btn_cart {
  background: #e95927;
  color: #ffffff;
  padding: 10px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.btn_circle.btn_cart:hover {
  background-color: #e04b17;
}
.btn_circle.btn_cart * {
  margin-right: 10px;
}
.btn_circle.btn_cart i {
  font-size: 25px;
}
.btn_circle.btn_pencil {
  padding: 10px;
  background: #e95927 url('../img/btn_pencil.png') no-repeat 10% center;
  color: #ffffff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.btn_circle.btn_pencil:hover {
  background-color: #e04b17;
}
.btn_circle.medium {
  width: 250px !important;
}
.btn_circle.lg {
  width: 320px !important;
}
.grid_5 {
  width: 20%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
@media screen and (max-width: 991px) {
  .mobile_full_width {
    padding: 0;
  }
}
@media screen and (max-width: 1500px) {
  body {
    font-size: 14.4px;
  }
  h3 {
    font-size: 24px;
  }
  .btn_base {
    width: 100%;
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  .mobile_all_width {
    width: 100% !important;
  }
  .section_capt {
    margin: 30px 0;
    text-align: center;
  }
}
.pagination_container .pagination {
  margin: 50px 0 0 0;
}
.pagination_container .pagination li a {
  color: #f6891f;
  font-size: 24px;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 0 !important;
  padding: 8px;
  border: none;
  margin-left: 0;
  text-align: center;
}
.pagination_container .pagination li a.active {
  color: #767676;
  border: 1px solid #ebebeb;
}
@media screen and (max-width: 991px) {
  .pagination_container .pagination {
    margin: 0 !important;
  }
  .pagination_container .pagination li a {
    font-family: 'futuredemic';
    font-size: 30px;
  }
  .pagination_container .pagination li a.active {
    border: none;
    color: #101010;
  }
}
.bord_bott {
  border-bottom: 1px solid #ebebeb;
}
@media screen and (max-width: 991px) {
  .pagination_container {
    margin: 25px 0;
    text-align: center;
  }
  .pagination_container .arrow_left {
    margin-left: 35px;
  }
  .pagination_container .arrow_right {
    margin-right: 35px;
  }
}
@media screen and (max-width: 400px) {
  .pagination_container .arrow_left {
    margin-left: 10px;
  }
  .pagination_container .arrow_right {
    margin-right: 10px;
  }
}
@media screen and (max-width: 991px) {
  .item_page .item_btn {
    margin-top: 25px;
  }
  .item_page .item_btn a.btn_base {
    padding: 26px;
  }
}
.no_padd_right {
  padding-right: 0 !important;
}
.sprite_count {
  background-image: url('../img/sprite_social_count.png');
  background-repeat: no-repeat;
  display: block;
}
.sprite_count.sprite_count-count_fb {
  background-position: -5px -5px;
  width: 19px;
  height: 16px;
}
.sprite_count.sprite_count-count_tw {
  background-position: -34px -5px;
  width: 18px;
  height: 15px;
}
.sprite_count.sprite_count-count_vk {
  background-position: -34px -30px;
  width: 23px;
  height: 13px;
}
/*sprite adventage*/
.sprite-adventage {
  background-image: url('../img/sprite-adventage.png');
  background-repeat: no-repeat;
  display: block;
}
.sprite-camin {
  width: 84px;
  height: 84px;
  background-position: -5px -5px;
}
.sprite-fire {
  width: 81px;
  height: 81px;
  background-position: -99px -5px;
}
.sprite-smoke {
  width: 75px;
  height: 81px;
  background-position: -190px -5px;
}
.sprite-zippo {
  width: 70px;
  height: 87px;
  background-position: -99px -96px;
}
/* //sprite adventage*/
/*sprite social*/
.sprite-social {
  background-image: url('../img/social-sprite.png');
  background-repeat: no-repeat;
  display: block;
}
.sprite-social_fb {
  width: 19px;
  height: 16px;
  background-position: -5px -5px;
}
.sprite-social_inst {
  width: 14px;
  height: 14px;
  background-position: -34px -5px;
}
.sprite-social_odn {
  width: 11px;
  height: 19px;
  background-position: -34px -29px;
}
.sprite-social_tw {
  width: 18px;
  height: 15px;
  background-position: -58px -5px;
}
.sprite-social_vk {
  width: 23px;
  height: 13px;
  background-position: -55px -30px;
}
/*sprite social*/
/*social mobile */
.sprite-social-mobile {
  background-image: url('../img/sprite-social-mobile.png');
  background-repeat: no-repeat;
  display: block;
}
.sprite-social_mobile_fb {
  width: 45px;
  height: 35px;
  background-position: -5px -5px;
}
.sprite-social_mobile_inst {
  width: 45px;
  height: 35px;
  background-position: -60px -5px;
}
.sprite-social_mobile_odn {
  width: 45px;
  height: 35px;
  background-position: -5px -50px;
}
.sprite-social_mobile_tw {
  width: 45px;
  height: 35px;
  background-position: -60px -50px;
}
.sprite-social_mobile_vk {
  width: 45px;
  height: 35px;
  background-position: -115px -5px;
}
/*social mobile*/
/*sprite contact*/
.sprite-contact {
  background-image: url('../img/sprite-contact.png');
  background-repeat: no-repeat;
  display: block;
}
.sprite-contact-sprite_contact_mail {
  width: 55px;
  height: 57px;
  background-position: -5px -5px;
}
.sprite-contact-sprite_contact_marker {
  width: 46px;
  height: 56px;
  background-position: -70px -5px;
}
.sprite-contact-sprite_contact_phone {
  width: 55px;
  height: 55px;
  background-position: -70px -71px;
}
/*sprite contact*/
.sprite_views {
  background-image: url('../img/sprite_catalog_views.png');
  background-repeat: no-repeat;
  display: block;
}
.sprite_views.sprite_views-view_lg_gray {
  background-position: -5px -5px;
  width: 16px;
  height: 16px;
}
.sprite_views.sprite_views-view_lg_green {
  background-position: -31px -5px;
  width: 16px;
  height: 16px;
}
.sprite_views.sprite_views-view_list_gray {
  background-position: -5px -31px;
  width: 22px;
  height: 17px;
}
.sprite_views.sprite_views-view_list_green {
  background-position: -57px -5px;
  width: 22px;
  height: 17px;
}
.social_count {
  margin-top: 30px;
}
.social_count .soc_count {
  width: 100px;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.social_count .soc_count i {
  display: inline-block;
}
.social_count .soc_count::after {
  content: '';
  display: table;
  clear: both;
}
.social_count .soc_count span {
  height: 40px;
  padding: 10px 0;
  color: #ffffff;
  display: block;
  float: left;
  width: 50%;
}
.social_count .soc_count span:first-of-type {
  border-right: 1px solid #7489b6;
}
.social_count .soc_count.fb_count {
  background: #3b5998;
}
.social_count .soc_count.vk_count {
  background: #5b7fa6;
}
.social_count .soc_count.tw_count {
  background: #57ccff;
}
.social_count .soc_count:hover {
  filter: brightness(110%);
  -moz-filter: brightness(110%);
  -webkit-filter: brightness(110%);
}
html.poor_vision div,
html.poor_vision a {
  background: none !important;
  box-shadow: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
html.poor_vision h1,
html.poor_vision h2,
html.poor_vision h3,
html.poor_vision h4,
html.poor_vision h5,
html.poor_vision p,
html.poor_vision span,
html.poor_vision a,
html.poor_vision li,
html.poor_vision input {
  color: #101010 !important;
  text-shadow: none !important;
}
html.poor_vision a {
  text-decoration: underline !important;
  border: none !important;
}
html.poor_vision li {
  border: 1px solid #101010 !important;
}
html.poor_vision div,
html.poor_vision a {
  border-color: #101010 !important;
}
html.poor_vision form {
  padding: 30px !important;
  border: 1px solid #101010 !important;
}
html.poor_vision form input,
html.poor_vision form textarea {
  border: 1px solid #101010 !important;
  background: none !important;
}
html.poor_vision #map {
  display: none !important;
}
html.poor_vision footer {
  background: transparent !important;
}
html.poor_vision .poor_full_width {
  width: 100% !important;
  padding-left: 0 !important;
}
html.poor_vision .poor_padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
html.poor_vision .poor_padding_y {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
html.poor_vision .poor_height_auto {
  height: auto !important;
}
html.poor_vision .poor_none {
  display: none !important;
}
html.poor_vision form,
html.poor_vision .modal {
  background: #ffffff !important;
}
html.poor_vision .img_off img,
html.poor_vision .img_off i {
  visibility: hidden !important;
}
html.poor_vision .img_on img,
html.poor_vision .img_on i {
  visibility: visible !important;
}
.poor_btn {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000000000;
  cursor: pointer;
  width: 100px;
  height: 100px;
}
.poor_btn.black i {
  color: #101010;
}
.poor_btn i {
  color: #ffffff;
  font-size: 50px;
}
.poor_panel {
  position: fixed;
  right: 50px;
  top: 0;
  z-index: 1000000000;
  cursor: pointer;
}
.poor_panel a {
  text-decoration: underline;
}
.poor_panel a#normalVision {
  font-size: 30px !important;
}
.poor_panel #smallSize {
  font-size: 19px !important;
}
.poor_panel #mediumSize {
  font-size: 26px !important;
}
.poor_panel #largeSize {
  font-size: 35px !important;
}
.poor_panel .resize_btn {
  text-decoration: none !important;
}
.poor_panel .resize_btn.active {
  text-decoration: underline !important;
}
.poor_panel .contrast_btn {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.poor_panel .contrast_btn#black {
  background: #101010 !important;
}
.poor_panel .contrast_btn#blue {
  background: #9dd1ff !important;
}
.poor_panel .contrast_btn#white {
  background: #ffffff !important;
  border: 1px solid #ebebeb !important;
}
html.poor_vision body.medium_size p {
  font-size: 24px !important;
}
html.poor_vision body.medium_size span {
  font-size: 20.8px !important;
}
html.poor_vision body.medium_size a {
  font-size: 24px !important;
}
html.poor_vision body.medium_size h3 {
  font-size: 30px !important;
}
html.poor_vision body.medium_size h2 {
  font-size: 48px !important;
}
html.poor_vision body.medium_size h4 {
  font-size: 27px !important;
}
html.poor_vision body.medium_size input,
html.poor_vision body.medium_size textarea {
  font-size: 24px !important;
}
html.poor_vision body.medium_size input::-webkit-input-placeholder,
html.poor_vision body.medium_size textarea::-webkit-input-placeholder {
  font-size: 24px !important;
}
html.poor_vision body.medium_size input::-moz-placeholder,
html.poor_vision body.medium_size textarea::-moz-placeholder {
  font-size: 24px !important;
}
html.poor_vision body.medium_size input:-moz-placeholder,
html.poor_vision body.medium_size textarea:-moz-placeholder {
  font-size: 16px !important;
}
html.poor_vision body.large_size p {
  font-size: 32px !important;
}
html.poor_vision body.large_size span {
  font-size: 27.2px !important;
}
html.poor_vision body.large_size a {
  font-size: 32px !important;
}
html.poor_vision body.large_size h3 {
  font-size: 40px !important;
}
html.poor_vision body.large_size h2 {
  font-size: 64px !important;
}
html.poor_vision body.large_size h4 {
  font-size: 36px !important;
}
html.poor_vision body.large_size input,
html.poor_vision body.large_size textarea {
  font-size: 32px !important;
}
html.poor_vision body.large_size input::-webkit-input-placeholder,
html.poor_vision body.large_size textarea::-webkit-input-placeholder {
  font-size: 32px !important;
}
html.poor_vision body.large_size input::-moz-placeholder,
html.poor_vision body.large_size textarea::-moz-placeholder {
  font-size: 32px !important;
}
html.poor_vision body.large_size input:-moz-placeholder,
html.poor_vision body.large_size textarea:-moz-placeholder {
  font-size: 16px !important;
}
.breadcrumb {
  background: transparent;
  margin-top: 20px;
}
html.poor_vision body.black_body {
  background: #101010;
}
html.poor_vision body.black_body h1,
html.poor_vision body.black_body h2,
html.poor_vision body.black_body h3,
html.poor_vision body.black_body h4,
html.poor_vision body.black_body h5,
html.poor_vision body.black_body p,
html.poor_vision body.black_body span,
html.poor_vision body.black_body a,
html.poor_vision body.black_body li {
  color: #ffffff !important;
}
html.poor_vision body.black_body .modal,
html.poor_vision body.black_body form {
  background: #000000 !important;
}
html.poor_vision body.black_body input,
html.poor_vision body.black_body textarea {
  color: #ffffff !important;
}
html.poor_vision body.black_body input::-webkit-input-placeholder,
html.poor_vision body.black_body textarea::-webkit-input-placeholder {
  color: #ffffff !important;
}
html.poor_vision body.black_body input::-moz-placeholder,
html.poor_vision body.black_body textarea::-moz-placeholder {
  color: #ffffff !important;
}
html.poor_vision body.black_body input:-moz-placeholder,
html.poor_vision body.black_body textarea:-moz-placeholder {
  color: #ffffff !important;
}
html.poor_vision body.black_body div,
html.poor_vision body.black_body a,
html.poor_vision body.black_body input {
  border-color: #ffffff !important;
}
html.poor_vision body.blue_body {
  background: #9dd1ff !important;
}
html.poor_vision body.blue_body .modal,
html.poor_vision body.blue_body form {
  background: #9dd1ff !important;
}
html.poor_vision body h1,
html.poor_vision body h2,
html.poor_vision body h3,
html.poor_vision body h4,
html.poor_vision body h5,
html.poor_vision body p,
html.poor_vision body span,
html.poor_vision body a,
html.poor_vision body li,
html.poor_vision body input {
  color: #063462 !important;
}
.shop_items_inline > .container {
  border: 1px solid #ebebeb;
}
.shop_items_inline .shop_item {
  padding: 20px 30px;
  border-bottom: 1px solid #ebebeb;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop_items_inline .shop_item .item_title p {
  color: #e95927;
  font-size: 20px;
}
.sort_row {
  margin-bottom: 30px;
  padding: 15px 5%;
}
.sort_row .sort li {
  margin-right: 15px;
}
.sort_row .sort li a {
  position: relative;
}
.sort_row .sort li a.active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background: #e95927;
}
.sort_row .views li {
  margin-left: 18px;
}
.sort_row .views li a {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.sort_row .views li a:hover {
  filter: brightness(110%);
  -moz-filter: brightness(110%);
  -webkit-filter: brightness(110%);
}
@media screen and (max-width: 991px) {
  .sort_row {
    background: transparent;
    margin: 30px 0;
    padding: 0;
  }
  .sort_row .sort {
    float: none !important;
    text-align: center;
  }
  .sort_row .sort a,
  .sort_row .sort li {
    font-size: 18px;
  }
}
.shop_more {
  padding: 50px 0;
}
.catalog_page .goods .goods_item .hidden_block {
  padding-bottom: 0 !important;
}
.count {
  width: 160px;
  display: block;
  margin: 0 auto;
}
.count span {
  float: left;
  border: 1px solid #ebebeb;
  padding: 12px 0;
  text-align: center;
}
.count .char {
  cursor: pointer;
  width: 45px;
  height: 45px;
}
.count .result {
  width: 70px;
  height: 45px;
}
.item_cart_wrapper {
  border: 1px solid #ebebeb;
  margin-left: -1px;
  padding: 50px 0 50px 0;
}
.item_cart_wrapper .item_cart {
  position: relative;
  text-align: center;
}
.item_cart_wrapper .item_cart .item_thumb img {
  display: block;
  margin: 0 auto;
  height: auto;
}
.item_cart_wrapper .item_cart .item_title {
  color: #f6891f;
}
.result_order {
  padding: 65px 0;
}
.del_btn {
  position: absolute;
  top: 0;
  right: 10%;
}
body .transparent_header .page_header {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 100;
  border: none;
  padding: 0;
}
body .transparent_header .page_header h2 {
  color: #ffffff;
}
body .transparent_header .page_header .top_nav ul li a {
  color: #ffffff;
}
body .transparent_header .page_header .top_contacts h3 {
  color: #ffffff;
}
body .transparent_header .page_header .header_cart i {
  color: #ffffff;
}
body .transparent_header .page_header .header_cart span {
  color: #ffffff;
}
.page_header {
  background: white;
  border-bottom: 1px solid #ebebeb;
  padding: 50px 0;
}
.page_header h2 {
  padding: 0;
  margin: 0;
  color: #101010;
}
.page_header .container-fluid .row .top_logo .media .media-body {
  width: auto;
  vertical-align: middle;
  overflow: visible;
}
@media screen and (max-width: 1500px) {
  .page_header .container-fluid .row .top_logo .media .media-left {
    padding-right: 0px;
  }
  .page_header .container-fluid .row .top_logo .media .media-left img {
    width: 45px;
  }
  .page_header .container-fluid .row .top_logo .media .media-body h2 {
    font-size: 19px;
  }
}
.page_header .top_nav {
  padding: 15px 0;
}
.page_header .top_nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page_header .top_nav ul li a {
  font-size: 13px;
  color: #101010;
  padding: 15px 20px 10px 20px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  font-family: 'futuredemic';
}
.page_header .top_nav ul li a:hover {
  text-decoration: none !important;
  box-shadow: 0 0 0 2px #f6891f;
  -webkit-box-shadow: 0 0 0 2px #f6891f;
  -moz-box-shadow: 0 0 0 2px #f6891f;
  -o-box-shadow: 0 0 0 2px #f6891f;
}
.page_header .top_nav ul li.active a {
  color: #f6891f;
  box-shadow: 0 0 0 2px #f6891f;
  -webkit-box-shadow: 0 0 0 2px #f6891f;
  -moz-box-shadow: 0 0 0 2px #f6891f;
  -o-box-shadow: 0 0 0 2px #f6891f;
}
@media screen and (max-width: 1620px) {
  .page_header .top_nav ul li a {
    padding: 15px 10px 10px 10px;
  }
}
.page_header .top_contacts {
  text-align: center;
}
.page_header .top_contacts h3 {
  color: #101010;
  margin-top: 15px;
}
@media screen and (max-width: 1500px) {
  .page_header .top_contacts h3 {
    font-size: 14px;
  }
}
.page_header .header_cart {
  padding-top: 15px;
}
.page_header .header_cart i {
  color: #101010;
}
.page_header .header_cart .media-body {
  vertical-align: middle;
}
.page_header .header_cart .media-body span {
  font-size: 16px;
  color: #101010;
}
.page_header .top_call {
  padding: 5px 0;
}
@media screen and (max-width: 991px) {
  .page_header {
    padding: 0;
  }
  .page_header .top_nav {
    padding: 0;
    min-height: 0;
  }
  .page_header .top_nav ul {
    background: #e98627;
    width: 65%;
    height: 100%;
    padding: 50px 0 50px 5%;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: scroll;
    text-transform: uppercase;
    font-size: 25px;
    opacity: 0;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    transform: translateX(-1000px);
    -ms-transform: translateX(-1000px);
    -o-transform: translateX(-1000px);
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    min-width: 320px;
    padding-left: 0;
    flex-direction: column;
  }
  .page_header .top_nav ul.active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    opacity: 1;
  }
  .page_header .top_nav ul > li {
    display: block;
    margin-bottom: 40px;
  }
  .page_header .top_nav ul > li a {
    position: relative;
    color: #ffffff;
    font-size: 25px;
  }
  .page_header .top_nav ul > li a.active {
    color: #ffffff;
  }
  .page_header .top_nav ul > .close_toggle {
    position: absolute;
    top: 25px;
    right: 10%;
    cursor: pointer;
  }
  .page_header .top_nav ul li a:hover {
    color: #ffffff;
  }
  .page_header .top_nav ul li a.active {
    border-bottom: 2px solid #ffffff;
    border-top: none;
    border-right: none;
    border-left: none;
  }
  .page_header .top_nav ul #navClose {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
  }
  .page_header .top_nav ul #navClose i {
    color: #ffffff;
    font-size: 24px;
  }
}
.page_header .btn_base {
  width: 75%;
}
.header_mobile {
  position: relative;
  border-bottom: 1px solid #ebebeb;
  background: #f9f9f9;
  text-align: center;
}
.header_mobile .nav_mobile {
  display: block;
  padding: 35px 0;
}
.header_mobile .nav_mobile > span {
  display: block;
  width: 40px;
  height: 4px;
  background: #e95927;
  margin-bottom: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.header_mobile .logo_mobile {
  display: inline-block;
  padding: 17px 0;
}
.header_mobile .logo_mobile .brand {
  margin-right: 10px;
}
.header_mobile .logo_mobile .brand_text h3 {
  color: #101010;
  font-family: 'futuredemic';
  font-size: 26px;
  margin: 20px 0 5px 0;
}
.header_mobile .contact_mobile {
  padding: 35px 0;
}
.header_mobile .contact_mobile i {
  font-size: 36px;
  color: #e95927;
}
@media screen and (max-width: 400px) {
  .header_mobile .logo_mobile .brand img {
    width: 40px;
    vertical-align: middle;
    margin-top: 12px;
  }
  .header_mobile .logo_mobile .brand_text h3 {
    font-size: 20px;
    margin-top: 22px;
  }
}
main.main_page .carousel_container #mainCarousel {
  position: relative;
}
main.main_page .carousel_container #mainCarousel .item {
  width: 100%;
  height: 950px;
  background: url('../img/carousel_item_1.jpg') no-repeat;
  background-size: cover;
}
main.main_page .carousel_container #mainCarousel .item .carousel-caption {
  bottom: auto;
  top: 30%;
  border: 1px solid #f6891f;
  padding: 80px 0;
}
main.main_page .carousel_container #mainCarousel .item .carousel-caption h1 {
  font-family: 'muller_ultra_light';
}
main.main_page .carousel_container #mainCarousel .item .carousel-caption p {
  font-size: 40px;
  font-family: 'futuredemic';
}
main.main_page .carousel_container #mainCarousel .item:nth-of-type(2) {
  background: url('../img/carousel_item_2.png') no-repeat;
  background-size: cover;
}
main.main_page .carousel_container #mainCarousel .carousel-indicators {
  right: 50px;
  left: auto;
  top: 45%;
  bottom: auto;
  position: absolute;
  width: auto;
  height: 100px;
  margin-left: 0;
}
main.main_page .carousel_container #mainCarousel .carousel-indicators > li {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 8px;
  height: 8px;
  background: transparent;
}
main.main_page .carousel_container #mainCarousel .carousel-indicators > li.active {
  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 8px;
  height: 8px;
  background: #ffffff;
  border-color: #ffffff;
}
main.main_page .carousel_container #mainCarousel .carousel-indicators li {
  display: block;
  background: #ffffff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main.main_page .carousel_container #mainCarousel .carousel-indicators li.active {
  width: 12px;
  height: 12px;
  background: transparent;
}
@media screen and (max-width: 450px) {
  main.main_page .carousel_container #mainCarousel .item .carousel-caption h1 {
    font-size: 42px;
  }
}
@media screen and (max-width: 991px) {
  main.main_page .carousel_container #mainCarousel .item {
    height: 475px;
  }
  main.main_page .carousel_container #mainCarousel .item .carousel-caption {
    width: 90%;
    left: 5%;
    height: 350px;
    top: 60px;
    padding: 10% 0;
  }
  main.main_page .carousel_container #mainCarousel .item .carousel-caption p {
    font-size: 36px;
    font-family: 'future_book';
    font-weight: 100;
  }
  main.main_page .carousel_container #mainCarousel .carousel-indicators {
    top: auto;
    bottom: -75px;
    right: 40%;
  }
  main.main_page .carousel_container #mainCarousel .carousel-indicators li {
    display: inline-block;
  }
}
main .adventage {
  margin-top: 45px;
  margin-bottom: 85px;
}
main .adventage .adventage_title {
  color: #e95927;
}
main .adventage .adventage_item .row > div:first-of-type {
  margin-top: 35px;
}
main .adventage .adventage_item .adventage_title {
  margin-bottom: 30px;
}
main .adventage .adventage_item_xs {
  padding: 0 5%;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 20px;
  margin-bottom: 40px;
  padding-top: 0;
}
main .adventage .adventage_item_xs:last-of-type {
  margin-bottom: 0;
}
@media screen and (max-width: 991px) {
  main .adventage {
    margin-top: 0;
    padding-top: 45px;
    background: #f9f9f9;
    margin-bottom: 0;
  }
  main .adventage .container-fluid {
    padding: 0;
  }
  main .adventage .container-fluid .adventage_title {
    margin-top: 0;
  }
  main .adventage .container-fluid p {
    font-size: 22px;
  }
}
@media screen and (max-width: 450px) {
  main .adventage .adventage_item_xs .adventage_content {
    padding-left: 10%;
  }
  main .adventage .adventage_item_xs .adventage_content .adventage_title {
    font-size: 28px;
  }
  main .adventage .adventage_item_xs .adventage_content p {
    font-size: 16px;
  }
}
main.category_page .adventage {
  margin-top: 0;
}
main.category_page .adventage .adventage_item {
  padding: 90px 40px;
  height: 320px;
  background: #f9f9f9;
  border: 1px solid #ffffff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main.category_page .adventage .adventage_item:hover {
  box-shadow: inset 0 0 0 10px #f6891f;
  -webkit-box-shadow: inset 0 0 0 10px #f6891f;
  -moz-box-shadow: inset 0 0 0 10px #f6891f;
  -o-box-shadow: inset 0 0 0 10px #f6891f;
}
main.category_page .adventage .adventage_item .row div:first-of-type {
  margin-top: 0;
}
@media screen and (max-width: 991px) {
  main.category_page .adventage_item_xs .adventage_title {
    margin-top: 0;
  }
  main.category_page .adventage_item_xs p {
    font-size: 20px;
  }
  main.category_page .adventage_item_xs:first-of-type {
    border-top: 1px solid #ebebeb;
    padding-top: 40px;
  }
}
main .cover_block .left_block,
main .cover_block .right_block {
  height: 665px;
}
main .cover_block .left_block {
  background: #e98627;
  text-align: center;
  color: #ffffff;
  padding: 180px 12%;
}
main .cover_block .left_block h1 {
  font-family: 'muller_ultra_light';
  font-size: 50px;
  margin-bottom: 40px;
}
main .cover_block .left_block p {
  font-size: 28px;
}
main .cover_block .right_block {
  background: url('../img/cover_1.jpg') no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1500px) {
  main .cover_block .left_block {
    padding: 100px 5%;
  }
}
@media screen and (max-width: 991px) {
  main .cover_block .left_block,
  main .cover_block .right_block {
    height: 500px;
  }
}
@media screen and (max-width: 450px) {
  main .cover_block .left_block {
    padding: 50px 0;
  }
  main .cover_block .left_block p {
    font-size: 22.4px;
  }
}
main .goods.best_goods {
  margin: 100px 0 50px 0;
}
main .goods.best_goods .section_capt_center {
  margin-bottom: 70px;
}
@media screen and (max-width: 991px) {
  main .goods.best_goods {
    margin-top: 0;
  }
  main .goods.best_goods .btn_circle {
    font-size: 24px;
  }
}
main .goods.best_goods .section_capt_center {
  margin: 40px 0;
}
main .goods:not(.best_goods) .goods_item {
  margin-bottom: -1px;
}
main .goods .goods_item {
  border: 1px solid #ebebeb;
  margin-left: -1px;
  height: 450px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  text-align: center;
}
main .goods .goods_item .goods_img {
  height: 300px;
  padding-top: 60px;
}
main .goods .goods_item .goods_img img {
  display: block;
  margin: 0 auto;
}
main .goods .goods_item .goods_title h3 {
  font-family: 'future_book';
  font-size: 24px;
  color: #e95927;
}
main .goods .goods_item .fa-ruble {
  font-size: 21px;
}
main .goods .goods_item .hidden_block {
  opacity: 0;
  position: absolute;
  margin-left: -1px;
  width: 100.6%;
  z-index: 100;
  border: 1px solid #ebebeb;
  background: #ffffff;
  padding-bottom: 50px;
  transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  box-shadow: 0 0 0 1px #f6891f, 0 5px 6px 5px #ebebeb;
  -webkit-box-shadow: 0 0 0 1px #f6891f, 0 5px 6px 5px #ebebeb;
  -moz-box-shadow: 0 0 0 1px #f6891f, 0 5px 6px 5px #ebebeb;
  -o-box-shadow: 0 0 0 1px #f6891f, 0 5px 6px 5px #ebebeb;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
main .goods .goods_item .hidden_block::after {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  height: 5px;
  top: -4px;
  background: #ffffff;
  z-index: 1000;
}
main .goods .goods_item:hover {
  box-shadow: 0 0 0 1px #f6891f, 0 0 6px 5px #ebebeb;
  -webkit-box-shadow: 0 0 0 1px #f6891f, 0 0 6px 5px #ebebeb;
  -moz-box-shadow: 0 0 0 1px #f6891f, 0 0 6px 5px #ebebeb;
  -o-box-shadow: 0 0 0 1px #f6891f, 0 0 6px 5px #ebebeb;
}
main .goods .goods_item:hover .hidden_block {
  opacity: 1;
  transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}
main .goods .btn_circle {
  margin-top: 55px;
}
main .news_block {
  background: #f9f9f9;
  padding: 85px 0 160px 0;
}
main .news_block .section_capt_center {
  margin-bottom: 50px;
}
main .news_block .news_item {
  padding-right: 5%;
}
main .news_block .news_item .news_date h2 {
  font-size: 42px;
  padding: 0;
  margin: 0;
}
main .news_block .news_item .news_date p {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: 'futuredemic';
}
main .news_block .news_item .news_date .media .media-body {
  vertical-align: middle;
  padding-bottom: 10px;
}
main .news_block .news_item .news_title h3 {
  color: #e95927;
  font-family: 'future_book';
  padding: 0;
  margin: 0;
  line-height: 1.3;
}
main .news_block .news_item .news_content {
  padding-top: 40px;
}
main .news_block .news_item .news_content p {
  line-height: 1.7;
}
@media screen and (max-width: 1500px) {
  main .news_block .news_date .media-left {
    padding-right: 0;
  }
  main .news_block .news_title {
    margin-top: 10px !important;
  }
  main .news_block .news_title h3 {
    font-size: 14px;
  }
  main .news_block .news_content {
    padding-top: 5px;
  }
}
@media screen and (max-width: 991px) {
  main .news_block {
    padding: 40px 0 0 0;
  }
  main .news_block .section_capt_center {
    margin: 0;
  }
  main .news_block .news_item {
    padding: 50px 0 40px 0;
    text-align: center;
  }
  main .news_block .news_item:first-of-type {
    border-bottom: 1px solid #ebebeb;
  }
  main .news_block .news_item .news_date h2 {
    font-size: 32px;
  }
  main .news_block .news_item .news_date h2 .month {
    font-size: 24px;
  }
  main .news_block .news_item .news_title {
    margin: 30px 0 0 0;
  }
  main .news_block .news_item .news_title h3 {
    color: #e95927;
    font-size: 22px;
  }
  main .news_block .news_item .news_content {
    padding-top: 20px;
  }
  main .news_block .news_item .news_content p {
    font-size: 22px;
  }
}
main .gallery .gallery_item {
  position: relative;
}
main .gallery .gallery_item img {
  width: 100%;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
main .gallery .gallery_item .item_summary {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 75px;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 25px 0;
  text-align: center;
}
main .gallery .gallery_item .item_summary span {
  color: #ffffff;
  font-family: 'muller_ultra_light';
}
@media screen and (max-width: 991px) {
  main .gallery .gallery_item .item_summary {
    position: relative;
    background: #f9f9f9;
    border-right: 1px solid #ebebeb;
    text-align: justify;
    padding: 50px 10%;
    height: auto;
    height: 130px;
  }
  main .gallery .gallery_item .item_summary span {
    color: #101010;
    font-size: 18px;
    max-height: 75px;
    vertical-align: middle;
  }
}
@media screen and (max-width: 400px) {
  main .gallery .gallery_item .item_summary {
    padding: 20px 10%;
  }
}
main.catalog_page .goods .btn_circle {
  margin: 60px auto;
  width: 305px;
}
main .contacts .contact_info {
  background: #fdf7ef;
  padding: 70px 7.5%;
  height: 190px;
  border-bottom: 1px solid #ffffff;
}
main .contacts .contact_info h4 {
  margin-top: 20px;
}
main .contacts #map {
  height: 730px;
}
main .contacts .contact_form {
  padding: 100px 0;
  background: #f9f9f9;
  height: 730px;
}
main .contacts .contact_form form {
  width: 40%;
}
main .contacts .contact_form h2 {
  margin-bottom: 40px;
}
@media screen and (max-width: 991px) {
  main .contacts .contact_info {
    height: 270px;
    padding: 50px 7.5%;
    border-color: #ebebeb;
  }
  main .contacts .contact_info .info_mobile {
    height: 270px;
    text-align: center;
  }
  main .contacts .contact_info .info_mobile div {
    margin-bottom: 30px;
  }
  main .contacts .contact_info .info_mobile div:not(.phone) h3 {
    font-family: 'future_book';
  }
  main .contacts #map {
    height: 495px;
  }
  main .contacts .contact_form form {
    width: 80%;
  }
}
main .reviews {
  margin-bottom: 70px;
}
main .reviews .review_item {
  border: 1px solid #ebebeb;
  padding: 75px 100px;
  text-align: center;
}
main .reviews .review_item p {
  font-size: 20px;
  font-family: 'futura_book_italic';
}
main .reviews .review_item div {
  margin-bottom: 55px;
}
main .reviews .review_item.grid-item {
  margin-bottom: -1px;
  width: 50%;
}
main .reviews .review_item.grid-item.height-1 {
  height: 525px;
  float: left;
  border-right: none;
}
main .reviews .review_item.grid-item.height-2 {
  height: 650px;
  float: right;
}
main .reviews .review_item .name span {
  font-family: 'futuredemic';
}
@media screen and (max-width: 991px) {
  main .reviews .review_item .name span {
    font-size: 26px;
  }
}
main .reviews a {
  margin-top: 70px;
  width: 305px;
}
@media screen and (min-width: 991px) and (max-width: 1500px) {
  main .reviews .review_item {
    padding: 50px 20px;
  }
}
@media screen and (max-width: 991px) {
  main .reviews .review_item.grid-item {
    width: 100%;
    height: auto !important;
  }
  main .reviews .btn_circle {
    font-size: 24px;
  }
}
@media screen and (max-width: 500px) {
  main .reviews .review_item {
    padding: 75px 35px;
  }
}
main.item_page .item_cover {
  padding-top: 100px;
  height: 550px;
}
main.item_page .item_cover #itemCarousel .item img {
  display: block;
  margin: 0 auto;
}
main.item_page .item_preview {
  margin-bottom: 130px;
}
main.item_page .item_preview #previewCarousel .item .item-prev {
  cursor: pointer;
  padding: 20px;
  border: 1px solid #ebebeb;
  height: 120px;
}
main.item_page .item_preview #previewCarousel .item .item-prev img {
  display: block;
  margin: 0 auto;
}
main.item_page .item_preview #previewCarousel .arrow {
  position: relative;
}
main.item_page .item_preview #previewCarousel .arrow .carousel-control {
  box-shadow: none;
  text-shadow: none;
  background-image: none;
  opacity: 1;
  right: auto;
  left: auto;
  position: absolute;
  width: auto;
  top: 45px;
}
main.item_page .item_preview #previewCarousel .arrow .carousel-control.left {
  right: 30px;
}
main.item_page .item_preview #previewCarousel .arrow .carousel-control.right {
  left: 30px;
}
main.item_page .bord_row {
  border: 1px solid #ebebeb;
}
main.item_page .item_option {
  padding-top: 100px;
  padding-left: 5%;
  border-left: 1px solid #ebebeb;
}
main.item_page .item_option .price h2 {
  font-size: 40px;
}
main.item_page .item_option .item_btn a.btn_base {
  height: 60px;
  padding: 20px;
  width: 215px;
  font-size: 16px;
}
main.item_page .item_option .option > div {
  margin-bottom: 10px;
}
main.item_page .item_option .option span,
main.item_page .item_option .option p {
  font-size: 18px;
  color: #3e3e3e;
}
main.item_page .item_option .option p {
  padding-right: 30%;
  padding-top: 20px;
}
main.item_page .item_option .item_btn {
  padding: 0;
}
main.item_page .bottom_text {
  padding: 0 5%;
  margin-top: 50px;
}
main.item_page .bottom_text p {
  font-size: 18px;
}
main.item_page .social_count {
  padding: 0 5%;
}
@media screen and (max-width: 991px) {
  main.item_page #itemCarousel .item {
    height: 500px !important;
  }
  main.item_page #itemCarousel .carousel-indicators {
    bottom: 0;
  }
  main.item_page #itemCarousel .carousel-indicators li {
    background: transparent;
    border-color: #e95927;
    width: 10px;
    height: 10px;
    margin: 0;
    margin-right: 10px;
  }
  main.item_page #itemCarousel .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 0;
    margin-right: 10px;
    background: #e95927;
  }
  main.item_page .item_preview {
    border: none !important;
  }
  main.item_page .item_option {
    padding-left: 0;
    border: none !important;
  }
  main.item_page .item_option .price {
    background: #f9f9f9;
    border: 1px solid #ebebeb;
    padding: 20px;
    margin-bottom: 50px;
  }
  main.item_page .item_option .price h2 {
    text-align: center;
  }
  main.item_page .option {
    padding-left: 30px;
  }
  main.item_page .item_cover {
    padding-top: 50px;
    height: 450px;
  }
}
main .item_btn {
  margin-bottom: 100px;
  padding: 0 5%;
}
main .item_btn a.btn_base {
  height: 70px;
  padding: 20px;
}
main .order_form {
  margin-bottom: 100px;
}
main .order_form .form_heading {
  background: #fdf7ef;
  padding: 30px 0;
}
main .order_form h3 {
  font-family: 'future_book';
}
main .order_form .form_wrapper {
  padding: 0 0 50px 0;
}
main .order_form .form_wrapper form {
  padding-top: 50px;
}
main .order_form .form_wrapper input:not(.input_inline),
main .order_form .form_wrapper textarea {
  display: block;
  margin: 0 auto;
  width: 80%;
}
main .order_form .form_wrapper input:not([type="submit"]),
main .order_form .form_wrapper textarea {
  background: transparent;
  border-top: none;
  border-left: 0;
  border-right: 0;
  border-color: #101010;
  margin-bottom: 50px;
}
main .order_form .form_wrapper input:not([type="submit"])::-webkit-input-placeholder,
main .order_form .form_wrapper textarea::-webkit-input-placeholder {
  color: #101010;
  font-size: 19px;
}
main .order_form .form_wrapper input:not([type="submit"])::-moz-placeholder,
main .order_form .form_wrapper textarea::-moz-placeholder {
  color: #101010;
  font-size: 19px;
}
main .order_form .form_wrapper input:not([type="submit"]):-moz-placeholder,
main .order_form .form_wrapper textarea:-moz-placeholder {
  color: #101010;
  font-size: 19px;
}
main .order_form .form_wrapper input:not([type="submit"])::-moz-placeholder,
main .order_form .form_wrapper textarea::-moz-placeholder {
  color: #101010;
  font-size: 19px;
}
main .order_form .form_wrapper input:not([type="submit"]):-moz-placeholder,
main .order_form .form_wrapper textarea:-moz-placeholder {
  color: #101010;
  font-size: 19px;
}
main .order_form .form_wrapper input:not([type="submit"]).input_inline,
main .order_form .form_wrapper textarea.input_inline {
  width: 37.5%;
}
main .order_form .form_wrapper input:not([type="submit"]).input_inline.first,
main .order_form .form_wrapper textarea.input_inline.first {
  margin-right: 2.5%;
}
main .order_form .form_wrapper input:not([type="submit"]).input_inline.second,
main .order_form .form_wrapper textarea.input_inline.second {
  margin-left: 2.5%;
}
footer {
  padding: 85px 0 85px 0;
}
footer .footer_logo {
  margin-bottom: 45px;
}
footer .footer_logo .logo {
  text-align: center;
}
footer .footer_logo .logo img {
  display: block;
  margin: 0 auto;
}
footer .footer_logo .logo h2 {
  margin-top: 10px;
}
footer .footer_contact h3 {
  margin: 0 0 7px 0;
  font-size: 22px;
}
footer .footer_social ul li {
  margin-right: 30px;
}
footer .footer_social ul li a i {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  transition-duration: 0.1s;
}
footer .footer_social ul li a i:hover {
  transform: scale(1.1);
}
footer .footer_social ul li a i:hover {
  transform: scale(1.1);
}
footer .footer_social ul li a i:hover {
  filter: brightness(50%);
  -moz-filter: brightness(50%);
  -webkit-filter: brightness(50%);
}
footer .footer_info > div {
  padding-left: 6%;
}
@media screen and (max-width: 1500px) {
  footer .footer_info > div {
    padding-left: 0;
  }
}
@media screen and (max-width: 991px) {
  footer .footer_phone {
    padding: 0 0 40px 0;
  }
  footer .footer_phone h3 {
    font-size: 16px;
  }
  footer p {
    font-size: 18px;
    font-family: 'futuredemic';
  }
  footer .umi_copy p {
    font-family: 'future_book';
  }
  footer .footer_social ul {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer .footer_social ul li {
    margin-right: 0;
  }
  footer .footer_social ul li a i {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  footer .footer_social ul li a i:hover {
    filter: brightness(130%);
    -moz-filter: brightness(130%);
    -webkit-filter: brightness(130%);
  }
}
